/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  position:relative;
  height:100%;
}

body {
  background-color: #FFFFFF;
  color: #444444;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column !important;
  min-height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "nickainley", sans-serif;
  padding:2rem;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

a {
  color: #444444!important;
}

a:hover{
    cursor:pointer;
}

p {
    margin:unset;
    padding-bottom:1rem;
}
