<footer>
  <div class="container-fluid">
    <div class="bg"></div>
    <div class="footer-open-hours">
      <p>Horaires et jours de consultation</p>
      <p>
        Lundi : 9h-19h<br />
        Mardi : 9h-19h<br />
        Mercredi : 9h-19h<br />
        Jeudi : 9h-19h<br />
        Vendredi : 9h-19h<br />
        Samedi : 9h-14h<br />
        Dimanche : fermé
      </p>
    </div>
    <div class="footer-name">
      <div class="copyright">
        <p>
          Mélanie Pires - © Tous droits réservés
          <br />2023
        </p>
      </div>
      <p>CGDV</p>
    </div>
    <div class="footer-adress">
      <p>Toulouse</p>
      <p><a href="tel:+33XXXX">XX.XX.XX.XX.XX.XX</a></p>
      <p><a href="mailto:bienvivrebienmanger@gmail.com">bienvivrebienmanger@gmail.com</a></p>
    </div>
  </div>
</footer>
