.container-fluid{
    display:flex;
    justify-content:space-between;
    padding: 1rem 4rem;
    align-items:center;
}

footer {
  text-align: center;
}

.container-fluid{
    position:relative;
    z-index:1
}

  .container-fluid .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('~/src/assets/images/footer.jpg');
    opacity: .7;
    background-size: cover;
    background-position: center;
  }

@media (max-width: 575px) {
    .container-fluid{
        flex-direction:column;
    }
}

.navbar-toggler:focus{
    box-shadow:unset;
}

a {
  text-decoration: none;
}
