* {
    text-align:center;
}

section{
    margin-top:2rem;
}

.offer-body {
  display: grid;
  grid-template-columns:1fr 1fr;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 767px){
  .offer-body {
    grid-template-columns: 1fr;
    gap:unset;
  }
}

.offer-img-container {
  height: 350px;
  width: auto;
  background-size: cover;
  margin: 2rem 0;
}

.offer-summary {
  vertical-align: central;
  padding: 1rem;
}

.offer-description {
  padding:2rem 0;
}

.offer-summary, .offer-description {
  white-space: pre-wrap;
}

.price {
  padding: 1rem 2rem;
  border-radius: 30px;
  width: max-content;
  font-weight: bold;
  margin: 0 auto;
}


