<div class="quote container">
  <h2><q>Que ton alimentation soit ta première médecine</q></h2>
  <h2>Hippocrate</h2>
</div>

<div class="mission-container">
  <div class="mission container">
    <h2>La mission de Bien Vivre, Bien manger</h2>
    <p>
      J’ai à cœur de promouvoir et de faciliter l’accès à une alimentation végétale équilibrée.<br />
      Je suis là pour vous accompagner lors de consultations, en vous aidant dans votre transition vers une alimentation plus végétale, quel que soit votre modèle alimentaire actuel.
    </p>
    <p>
      Je vous propose des conseils personnalisés, des solutions pratiques et des ressources pour une alimentation saine et durable, tout en préservant le bien-être des individus, des animaux et de la planète.
    </p>
  </div>
</div>

<div class="offers container">
  <h2>Ce que je vous propose</h2>
  <div class="free-call">
    <h3>Appel découverte GRATUIT de 15 minutes :</h3>
    <p>Pendant cet échange, nous aurons l’occasion de discuter de vos besoins, objectifs et préocupations. Je me ferai un plaisir de vous orienter vers l’offre qui vous correspond au mieux.</p>
    <p>Peut importe votre modèle alimentaire actuel, flexitarien, vegétarien, végétalien, cet appel découverte vous donnera un aperçu de la manière dont je pourrai vous accompagner.</p>
    <p>Ne laissez pas vos questions en suspens, reservez dès maintenant votre appel découverte gratuit.</p>
  </div>
  <app-button (btnClick)="redirectToContact" text="Me Contacter"></app-button>
</div>

