.container {
  text-align: center;
}

.quote {
    padding:2rem;
}

  .quote * {
    font-weight: bold;
    padding:unset;
  }

  .quote>h2{
      padding-bottom:1rem;
  }

.mission-container {
  background-color: #F8F1E4;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .mission p {
    width: 80%;
  }

.offers-container {
  text-align: center;
}

.offers-container h2 {
  font-weight: 400;
}

.free-call {
  border: 2px solid #ECEBBD;
  border-radius: 30px;
}

  .free-call h3 {
    font-weight: bold;
  }

.offers-card-container {
  display: flex;
  align-items:stretch !important;
}

.reviews-container {
  background-color: #F8F1E4;
  text-align:center;
  position:relative;
  padding-bottom:1rem;
}

.carousel p{
    margin-top:1rem;
}

.bi-arrow-left, .bi-arrow-right {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: 3em;
  color: #444444;
  height: 30px;
  background-color: #F8F1E4;
  border-radius: 50px;
  opacity: 0.8;
}

.see-all-reviews {
  text-decoration: underline;
  position: absolute;
  right: 5%;
  bottom: 1rem;
  font-style:italic;
}
