<div class="container">
  <div *ngIf="responseMessage === 'success'" class="info-message">
    Le témoignage a été créé avec supprimé !
  </div>
  <div *ngIf="responseMessage === 'fail'" class="info-message">
    Une erreur s'est produite lors de la suppression du témoignage.
  </div>
</div>

<div class="create-review">
  <button (click)="redirectToCreateReview()">Créer un témoignage</button>
</div>

<h2>Témoignages</h2>
<table class="container">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Type d'offre</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let review of reviews">
      <td>{{ review.name }}</td>
      <td>{{ review.description }}</td>
      <td>{{getPackageName(review.package)}}</td>
      <td class="buttons">
        <button (click)="redirectToUpdateReview(review.id)">Modifier</button>
        <button (click)="deleteReview(review.id)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>

