h2{
    margin-top:2rem;
    text-align:center
}

thead tr{
    padding-bottom:1rem;
}

tr{
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    align-items:center;
    justify-content:center;
    padding:0.5rem;
}

@media (max-width: 575px) {
  tr {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .validation{
      display:none;
  }
}

td:not(:last-child) {
  padding: 1rem;
}

tbody tr:nth-child(odd) {
  background-color: #ECEBBD;
}

thead, tbody{
    text-align:center;
}

.buttons{
    display:flex;
    gap:1rem;
    justify-content:center;
}

.response-message{
    padding-top:1rem;
    text-decoration:underline;
}

.create-review {
  float: right;
  padding-right: 10%;
  padding-top:1rem;
}




